.Help {
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.Help_box {
  border-width: 2px;
  border-style: solid;
  border-color: rgb(177, 178, 178);
  border-radius: 12px;
  padding: 3vw;
}

.Help_get_started {
  width: 35%;
  padding: 2%;
  background-color: #009AE7;
  color: rgb(255, 255, 255);
  
  text-align: center;
  border-radius: 12px;
}